name: Simple test

on:
  # Triggers the workflow on push for staging branch
  push:
    branches:
      - staging

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      instance_id:
        description: 'Instance ID'
        type: string
      instance_image_id:
        description: 'Instance AMI ID'
        type: string
      instance_type:
        description: 'Instance product type'
        type: string
      runner_name:
        description: 'Action runner name'
        type: string
      request_id:
        description: 'Slab request ID'
        type: string
      matrix_item:
        description: 'Build matrix item'
        type: string

jobs:
  tests:
    #runs-on: ubuntu-latest
    runs-on: ${{ github.event.inputs.runner_name }}
    steps:
      - name: Instance configuration used
        run: |
          echo "IDs: ${{ github.event.inputs.instance_id }}"
          echo "AMI: ${{ github.event.inputs.instance_image_id }}"
          echo "Type: ${{ github.event.inputs.instance_type }}"
          echo "Request ID: ${{ github.event.inputs.request_id }}"
          echo "Matrix item: ${{ github.event.inputs.matrix_item }}"
      - uses: actions/checkout@v2
      - name: Set up home
        run: |
          echo "HOME=/home/ubuntu" >> ${GITHUB_ENV}
      - name: Install Rust
        if: ${{ !cancelled() }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Run test suite with cargo
        run: cargo test
      - name: EC2 activity tracker check
        run: sleep 60
